:root {
  --size-hero-mobile: 60vh;
  --size-hero-desktop: 70vh;
}
/* Grid */
.intro,
.attorneys,
.secondIntro,
.caseResultsList,
.testimonial{
  padding: var(--container-padding-mobile);
}
.intro{
  background: red;
}
/* Hero Section */
.wrapper{
  padding: 3.6rem 0rem 0rem;
  position: absolute;
  top: 80px;
  width: 80%;
  z-index: 20;
}

.heroPhoto,
.heroBG::before{
  height: var(--size-hero-mobile);
}
.heroBG{
  margin-top: var(--globalHero-header-margin-top);
}
.heroBG::before{
  content: "";
  display: block;
  background: linear-gradient(rgba(61, 88, 107, 1), rgba(29, 56, 81, 0.6));
  width: 100%;
  position: absolute;
  z-index: 10;
}
.caseResultsTitle,
.attorneysTitle,
.testimonialTitle{
  font-size: 1em;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 1em;
}
/* ############# */
/* Intro Section */
/* ############# */
.intro p,
.secondIntro p{
  font-size: 2em;
  line-height: 160%;
  margin-bottom: 1em;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Hero Section */
  .homeHeroPhoto,
  .homeHeroBG::before{
    height: var(--size-hero-desktop);
  }

}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }
