/* Grid and Global */
.intro,
.skills,
.video,
.attorneys{
  padding: var(--container-padding-mobile);
}
/* This code is copy from about.module.css */
.title{
  font-size: var(--summary-lg-fontSize);
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 1em;
}
/* Intro Section */
.description{
  display: grid;
  grid-template-columns: 1fr;
}
.intro p,
.skills p{
  font-size: var(--summary-lg-fontSize);
  line-height: var(--summary-lg-lineHeight);
  margin-bottom: 1em;
}
@media (min-width: 576px) { }
@media (min-width: 768px) {
  .description{
    grid-template-columns: 1fr 3fr;
  }
}
@media (min-width: 992px) {
  .description{
    grid-template-columns: 1fr 4fr;
  }
}
@media (min-width: 1200px) { }
@media (min-width: 1400px) { }
