:root {
  --primary-size: 125px;
}
.avator{
  width: var(--primary-size);
  height: var(--primary-size);
  background: var(--primary-cta-color);
  border: 1px solid var(--primary-bg-color);
  border-radius: 500px;
}
