/* #### */
/* Grid */
/* #### */
.caseResultList,
.homeTheFirmBG,
.homeTestimonial,
.homePraticeAreasList{
  padding: 4rem 1rem 4rem;;
}
.homeBlogLatestPost{
  padding: 5rem 1rem 5rem;
}
.homeContact{
  padding: 5.5rem 1rem 6rem;
}
/* ############ */
/* Hero Section */
/* ############ */
.homeHeroBG{
  background-image: linear-gradient(rgba(61, 88, 107, 1), rgba(29, 56, 81, 0.6)), url("../images/hero-bg.jpg");
  height: 55vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 100px;
  padding: 0rem 1rem 0rem;
}
.homeHeroTitle{
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.homeHeroDescription{
  font-size: 1em;
  letter-spacing: 0.1em;
}
.homeHeroTitle,
.homeHeroDescription{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.homeHeroCTA{
  margin-top: 30%;
}
/* #################################### */
/* Pratice Areas & Case Results Section */
/* #################################### */
.featureSummary{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.featuresTitle{
  font-size: 1em;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 1em;
}
/* ######################## */
/* The Firm (About) Section */
/* ######################## */
/* Use by The Firm, Blog, and Contact section */
.twoColumnsGrid{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3em;
}
.avatorList{
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.avatorList div:nth-child(03){z-index: 900;}
.avatorList div:nth-child(04){z-index: 1;}
.avatorSummary {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
/* ############### */
/* Contact Section */
/* ############### */
.contactTitle,
.blogTitle,
.avatorTitle,
.featureSummary,
.testimonialTitle{
  letter-spacing: 0.02em;
  font-weight: normal;
  font-size: 2em;
  line-height: 150%;
}
/*
https://www.shapedivider.app/
https://fireship.io/lessons/wavy-backgrounds/
*/
.customWaveBottom {
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-top: 96px;
}
.customWaveBottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 30px;
  fill: #1d3851;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* #### */
  /* Grid */
  /* #### */
  .caseResultList,
  .homeTheFirmBG,
  .homeTestimonial,
  .homePraticeAreasList{
    padding: var(--container-padding-mobile);
  }
  .homeBlogLatestPost,
  .homeContact{
    padding: 6rem 1rem 6rem;
  }
  /* ############ */
  /* Hero Section */
  /* ############ */
  .homeHeroBG{
    height: 65vh;
  }
  .homeHeroTitle{
    padding-top: 8%;
    margin-bottom: 0px;
    width: 700px;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
  }
  .homeHeroDescription{
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.01em;
  }
  .homeHeroCTA{
    margin-top: 34%;
    float: right;
  }
  .avatorTitle{
    letter-spacing: 0.02em;
    font-size: 2.25em;
  }
  /* ######################## */
  /* The Firm (About) Section */
  /* ######################## */
  .twoColumnsGrid{
    grid-template-columns:1fr 1fr;
    column-gap: 5em;
  }
  .avatorList{
    justify-content: center;
    align-items: center;
  }
  /* ###################### */
  /* Contact & Blog Section */
  /* ###################### */


  .contactCTA,
  .blogCTA{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .homeHeroCTA{
    margin-top: 26%;
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .homeHeroCTA{
    margin-top: 22%;
  }
}
