:root {
  --large-size: 125px;
  --small-size: 75px;
}
.avator,{
  width: var(--small-size);
  height: var(--small-size);
  background: var(--primary-cta-color);
  border: 1px solid #FFF;
  border-radius: 500px;
}
.photo{
  border-radius: 100px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .avator{
    width: var(--large-size);
    height: var(--large-size);
    background: var(--primary-cta-color);
    border-radius: 100px;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
