/* X-Small devices (portrait phones, less than 576px) */
.container{
  width: 100%;
  padding: 1.45rem 1.0875rem;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container{
    margin: 0 auto;
    width: 768px;
    /* background: gold; */
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container{
    width: 992px;
    /* background: yellow; */
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container{
    width: 1200px;
    /* background: purple; */
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container{
    width: 1400px;
    /* background: red; */
  }
}
