.sectionPadding{
  background: blue;
  padding: 5.5rem 1rem 6rem;
}
.title{
  letter-spacing: 0.02em;
  font-weight: normal;
  font-size: 2em;
  line-height: 150%;
}


/*
https://www.shapedivider.app/
https://fireship.io/lessons/wavy-backgrounds/
*/
.wave__Bottom {
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-top: 96px;
}
.wave__Bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 30px;
  fill: #1d3851;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .homeContact{
    padding: 6rem 1rem 6rem;
  }
  .cta{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
