/* X-Small devices (portrait phones, less than 576px) */
header div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
ul{
  display: none;
}
li{
  margin-right: 1em;
}
li:last-child{
  margin-right: 0;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ul{
    display: flex;
  }

}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
