/* X-Small devices (portrait phones, less than 576px) */
.header{
  background: var(--primary-bg-color);
  padding: 0 10px;
}
.wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.wrapper{
  padding: 1.5rem 0;
}
.wrapper ul{
  display: none;
}
.wrapper a{
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 1px;
  color:rgba(255, 255, 255, 0.8);
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
.wrapper ul li{
  margin-right: 20px;
}
.wrapper ul li:last-child{
  margin-right: 0px;
}
.cta{
  display: block;
  background: none;
  border: none;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrapper ul{
    display: inline-flex;
  }
  .cta{
      display: none;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }
