/* X-Small devices (portrait phones, less than 576px) */
.header{
  background: var(--primary-bg-color);
  position: fixed;
  z-index: 99999;
  width: 100%;
  margin-top: -100px;
  padding: 0rem 1rem 0rem;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper{
  padding: 1rem 0 0.2em;
}
.wrapper ul,
.desktopLogo{
  display: none;
}
.wrapper a{
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 1px;
  color:rgba(255, 255, 255, 0.8);
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
.wrapper ul li{
  margin-right: 20px;
}
.wrapper ul li:last-child{
  margin-right: 0px;
}
.cta{
  display: block;
  background: none;
  border: none;
}



/*
Also save in home.css
https://www.shapedivider.app/
https://fireship.io/lessons/wavy-backgrounds/
*/
.customWaveBottom {
  position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    /* margin-top: 96px; */
}
.customWaveBottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 25px;
    fill: var(--primary-bg-color);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrapper ul,
  .desktopLogo{
    display: inline-flex;
  }
  .cta,
  .mobileLogo{
      display: none;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }
