/* X-Small devices (portrait phones, less than 576px) */
/* Color check: https://www.websiterating.com/bca360/1d3851 */
:root {
  --primary-text-color: hsla(255, 255%, 255%, 1);
  --primary-bg-color: #3D586B;
  --secondary-bg-color: #FFF;
  --tertiary-bg-color: #1d3851;

  --primary-cta-color:  #BCA360;
  --jlo-color-gradient: linear-gradient(180deg, #FFAB49 -4.03%, #FF8C04 100%);
  --jlo-color-solid: #FF971C;

  --summary-lg-fontSize: 1.25em;
  --summary-lg-lineHeight: 200%;


  --container-padding-desktop: 12rem 0rem 11rem;
  --container-padding-mobile: 4rem 1rem 5rem;

  --font-stack: 112.5%/1.45em Oswald, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --globalHero-header-margin-top: 105px;
  /* Only use inside 'header.module.css' */
  --hero-header-margin-top: -105px;
}
  /*
  --primary-cta-color: #BCA360;
  */
*, html {
    margin: 0;
    padding: 0;
}
html {
  font: var(--font-stack);
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  color: var(--primary-text-color);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
img
figure,
fieldset{
  margin: 0;
  padding: 0;
}
p {
  font-size: var(--summary-lg-fontSize);
  line-height: var(--summary-lg-lineHeight);
  font-weight: normal;
  letter-spacing: 0.04em
}
h1{
  font-size: 2.25rem;
}
h2 {
  font-size: 1.62671rem;
  font-weight: normal;
  font-size: 26px;
  letter-spacing: 1px;
}
h3 {
  font-size: 1.38316rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85028rem;
}
h6 {
  font-size: 0.78405rem;
}
ul {
  margin: 0;
  padding: 0;
  list-style-position: outside;
  list-style-image: none;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
}
form,
noscript,
iframe,
address,
table,
dl,
dd {
  margin-left: 0;
  margin-right: 0;
}
form,
noscript,
iframe,
address,
blockquote,
table,
dl,
dd {
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  list-style-type: none;
}
ol li,
ul li {
  padding-left: 0;
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child,
p *:last-child  {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
.globalHero__text--title{
  font-weight: normal;
  font-size: 26px;
  letter-spacing: 1px;
  margin-bottom: 0.20em;
}
.globalHero__text--summary{
  font-size: 1em;
  letter-spacing: 0.04em
}
.container{
  width: 100%;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container{
    margin: 0 auto;
    max-width: 768px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container{
    max-width: 992px;
  }
  .globalHero{
    padding: 5rem 1rem 5rem;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container{
    max-width: 1200px;
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container{
    max-width: 1400px;
  }
}
