.title{
  font-size: 1em;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 1em;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2em;
}
.sectionPadding{
  padding: var(--container-padding-mobile);
}
@media (min-width: 576px) { }
@media (min-width: 768px) { }
@media (min-width: 992px) {
  .wrapper{
      grid-template-columns: 1fr 1fr;
      column-gap: 2em;
      row-gap: 2em;
  }
}
@media (min-width: 1200px) {
  .wrapper{
      grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .wrapper{
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
