.lastFooter{
  background: #eef0f2;
  color: #333;
  padding: 2em 0;
}
.subFooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.subFooterCTA{
  color: #BCA360;
  text-decoration: underline;
}
.subFooterCTA:hover{
  text-decoration: none;
}
