.lastFooter{
  background: #eef0f2;
  color: #333;
  padding: 2rem 1rem 2rem;
}
/* G R I D */
.textLink{
  grid-area: textLink;
}
.address{
  grid-area: address;
}
.socialMedia{
  grid-area: socialMedia;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "textLink address"
  "socialMedia socialMedia";
  row-gap: 3em;
  padding: 3em 0;
  align-items: center;
}
/* C O L O R */
.svgColorChange,
.phoneNumber,
.subFooterCTA{
  color: var(--primary-cta-color);
  fill: var(--primary-cta-color);
}
/* F O N T */
.address,
.phoneNumber {
  font-size: 1.125em;
}
.textLink div,
.address div span div span:first-child{
  margin-bottom: 0.65em;
}
.textLink div:last-child{
  margin-bottom: 0;
}
.textLink svg{
  margin-bottom: -6px;
  margin-right: 10px;
}
.address div{
  display: inline-flex;
  flex-direction: column;
}
.address svg{
  margin-bottom: -12px;
  margin-right: 11px;
}
/* S O C I A L  M E D I A */
.socialMedia{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.socialMedia a{
  display: block;
  background: var(--primary-cta-color);
  width: 83px;
  height: 83px;
  padding: 1.4em 0;
  text-align: center;
  border-radius: 100px;
}
/* Facebook */
.socialMedia li:nth-child(1) a svg{padding-top: 2px;}
/* Twitter */
.socialMedia li:nth-child(2) a svg{padding-top: 7px;}
/* LinkedIN */
.socialMedia li:nth-child(3) a svg{ }
/* Mail */
.socialMedia li:nth-child(4) a svg{padding-top: 5px;}

.socialMedia li{
  margin-right: 0.5em;
}
.subFooter{
  display: flex;
  flex-direction: column-reverse;
  row-gap: 2em;
}
.subFooterCTA:hover{
  text-decoration: underline;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .address,
  .phoneNumber {
    font-size: 1.3em;
  }
  .wrapper{
      grid-template-columns: 2fr 2fr 1fr;
      grid-template-areas:
      "textLink address socialMedia";
      row-gap: 1em;
      padding: 3.5em 0px 3.5em;
  }
  .socialMedia li{
    margin-right: 2.1em;
  }
  .subFooter{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .subFooter div{
    text-align: right;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }
